@font-face {
    font-family: kino;
    src: url('/assets/png/kino.ttf');
}

.d-none {
    display: none!important
}

.kino {
    font-family: kino;
}

@media only screen and (orientation: landscape) {
    .mobile {
        display: none !important;
    }
}

@media only screen and (orientation: portrait) {
    .desktop {
        display: none !important;
    }
}
.background {
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.no-padding-margin {
    margin: 0;
    padding: 0;
}

/* SCROLL INDICATOR */
.scroll-indicator {
    padding: 15px;
    position: fixed;
    bottom: 0;
}

.scroll-indicator > a {
    text-decoration: none;
}

.scroll-text {
    font-size: 1.5em;
    letter-spacing: 3px;
    margin-bottom: 10px;
    white-space: nowrap;
    text-align: center;
    color: #6b6e75;
}

.scroll-text:hover {
    text-decoration: none;
    color: #6b6e75;
}

.scroll-arrow {
    width: auto;
    height: 5.5vh;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    60% {
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}

.section-wrapper {
    width: 100vw;
}

/* Menu Overlay */
.menu {
    top: 15px;
    right: 15px;
    z-index: 2;
    position: fixed;
    cursor: pointer;
}

.menu-decoration {
    width: 65%;
}

.no-pointer-events {
    pointer-events: none;
}

.menu-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255,1);
    z-index: 2;
    color: black;
    font-size: 1.5em;
    font-weight: bold;
}

.menu-item {
    cursor: pointer;
    padding-bottom: 7px;
    color: #6b6e75;
}


.menu-item:hover, .menu-item.active {
    text-decoration: none;
    color: #6b6e75;
    padding-bottom: 2px;
    border-bottom: solid #6b6e75 5px;
}

/* ARROWS */
.arrow-left, .arrow-right {
    cursor: pointer;
    z-index: 5;
    position: absolute;
    width: 10%;
}

.arrow-left {
    left: 5%;
}

.arrow-right {
    right: 5%;
}

.title {
    position: absolute;
    top: 6%;
    color: #6b6e75;
    font-size: 2.75em;
    z-index: 3;
}

/* OVERLAY */
.hover-information {
    background-color: white;
    z-index: 3;
    color: #6b6e75;
    text-transform: uppercase;
    font-size: 1.75em;
    text-align: center;
    position: fixed;
    height: 25%;
    width: 100vw;
    top: 0;
    left: 0;
    padding: 0 7.5% 0 7.5%;
    hyphens: auto;
}

/* WORKS */
.work-information {
    height: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: white;
    opacity: 0.75;
    font-size: 1.5em;
    color: #6b6e75;
    transition: 0.5s;
}

.work, .artist {
    display: none;
    width: 50vw;
    height: 40vh;
}

.first-work, .first-artist {
    z-index: 2;
    position: absolute;
    left: 11.75%;
    bottom: 31%;
}

.second-work, .second-artist {
    z-index: 2;
    position: absolute;
    left: 28.9%;
    bottom: 31%;
}

.third-work, .third-artist {
    z-index: 2;
    position: absolute;
    left: 44.6%;
    bottom: 31%;
}

.fourth-work, .fourth-artist {
    z-index: 2;
    position: absolute;
    left: 61%;
    bottom: 31%;
}

.fifth-work, .fifth-artist {
    z-index: 2;
    position: absolute;
    right: 9.8%;
    bottom: 31%;
}

/* HALL OF FAME */
.polaroid-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.artist-name {
    color: #6b6e75;
    position: absolute;
    bottom: 0;
    font-size: 1.5em;
    line-height: 100%;
    height: 27.5%;
}

.thumbnail {
    position: absolute;
    top: 10%;
    height: 63%;
    width: 74%;
}

/* CONTACT */
.contact-container {
    color: #6b6e75;
    z-index: 2;
    height: 31vh;
    width: 30.5vw;
    position: absolute;
    left: 34.9%;
    bottom: 29%;
    font-size: 2em;
    white-space: nowrap;
}

.contact-container > h1 {
    margin-bottom: 0;
}

.contact-container > p {
    margin-bottom: 0px;
    white-space: nowrap;
}

@media (min-width: 576px) {
    .menu {
        top: 15px;
        right: 15px;
    }
    .menu-overlay {
        font-size: 1.75em;
    }
    .menu-decoration {
        width: 50%;
    }
    .contact-container {
        font-size: 1.25em;
    }
    .contact-container > h1 {
        font-size: 1.75em;
    }
    .work, .artist {
        width: 13vw;
        height: 28vh;
    }
    .scroll-text {
        font-size: 1.75em;
    }
    .arrow-left, .arrow-right {
        width: 6.5%;
    }

    .arrow-left {
        left: 2%;
    }

    .arrow-right {
        right: 2%;
    }
    .artist-name {
        font-size: 0.75em;
    }
    .title {
        top: 3%;
        font-size: 2em;
    }
}

@media (min-width: 768px) {
    .menu {
        top: 15px;
        right: 15px;
    }
    .menu-overlay {
        font-size: 2.25em;
    }
    .menu-decoration {
        width: 65%;
    }
    .contact-container {
        font-size: 3em;
    }
    .contact-container > h1 {
        font-size: 1.5em;
    }
    .scroll-text {
        font-size: 2.1em;
    }
    .work, .artist {
        width: 37.5vw;
        height: 40vh;
    }
    .artist-name {
        font-size: 2em;
        height: 27.5%;
    }
    .title {
        top: 4%;
        font-size: 3em;
    }
}

@media (min-width: 992px) {
    .menu {
        top: 20px;
        right: 20px;
    }
    .menu-overlay {
        font-size: 2.25em;
    }
    .menu-decoration {
        width: 50%;
    }
    .contact-container {
        font-size: 2em;
    }
    .contact-container > h1 {
        font-size: 1.5em;
    }
    .work, .artist {
        width: 13vw;
        height: 28vh;
    }
    .artist-name {
        font-size: 1.25em;
        height: 27.5%;
    }
    .title {
        top: 4%;
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    .menu {
        top: 25px;
        right: 25px;
    }
    .menu-overlay {
        font-size: 2.25em;
    }
    .menu-decoration {
        width: 30%;
    }
    .contact-container {
        font-size: 2em;
    }
    .contact-container > h1 {
        font-size: 1.5em;
    }
    .work, .artist {
        width: 13vw;
        height: 31vh;
    }
    .scroll-text {
        font-size: 2em;
    }
    .title {
        top: 4%;
        font-size: 3em;
    }
}

@media (min-width: 1500px){
    .menu {
        top: 30px;
        right: 30px;
    }
    .menu-overlay {
        font-size: 2.75em;
    }
    .menu-decoration {
        width: 25%;
    }
    .contact-container {
        font-size: 2.75em;
    }
    .contact-container > h1 {
        font-size: 1.5em;
    }
    .work, .artist {
        width: 13vw;
        height: 32vh;
    }
    .arrow-left, .arrow-right {
        width: 4.5%;
    }
    .scroll-text {
        font-size: 2.4em;
    }
    .artist-name {
        font-size: 1.5em;
        padding-left: 10px;
        padding-right: 10px;
    }
    .title {
      font-size: 3em;
    }
}
